/* CSS reset */
@import url("css-reset.css");
/* Fonts */
@import url("fonts.css");
/* general styles */
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
}
body,input,button {
    font-family: "vazir";
}
/* Typography */
body {
    font-size: 1.6rem;
    color: var(--color-text);
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.1rem;
}
h1,h2 {
    font-weight: 700;
    color: var(--color-text);
}
/* variables */
:root {
    --color-primary: #00906e;
    --color-secondary: #005f96;
    --color-secondary-light: #77c5d8;
    --color-text: #000000;
    --color-text-light: #909090;
    --color-white: #ffffff;

    --border-radius: 6px;
}
/* request-section styles */
.request-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}
@media screen and (min-width: 690px){
    .request-section {
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
    }
}
@media screen and (min-width: 1050px){
    .request-section {
        grid-template-columns: repeat(3,1fr);
        gap: 3rem;
    }
}
.main-request__title {
    padding: 1rem;
    margin: 3rem 0px;
}
.request-block {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 2fr;
    gap: 0.5rem;
}
/* request-section block title styles */
.block__title {
    grid-column: 1/-1;
    color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.block__title__right {
    display: flex;
    align-items: center;
}
.num-block {
    background-color: var(--color-secondary-light);
    padding: 0.9rem 1.2rem;
    border-radius: var(--border-radius);
    margin-left: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}
.block-title__date {
    color: var(--color-text-light);
    font-size: 1.3rem;
}
/* request-section block profile styles */
.profile-section-user {
    display: flex;
    align-items: center;
}
.image {
    margin-left: 1rem;
}
.image img {
    width: 50px;
}
.request-number {
    display: block;
    font-size: 1.3rem;
    color: var(--color-text-light);
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
}
/* button block styles */
.block__button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius);
    width: 85%;
    min-height: 60%;
    padding: 1.5rem;
    outline: none;
    border: none;
    transition: all 0.3s;
}
.btn:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}